<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	{% assign structure = page.url | split: "/" | shift %}

	{% if structure == empty %}
		<title>{{ site.title }} – {{ site.description | strip_html }}</title>
		<link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed.atom">
	{% elsif structure[0] == "page" %}
		<title>{{ site.title }} – 第 {{ structure[1] }} 页 – {{ site.description | strip_html }}</title>
	{% else %}
		<title>{{ page.title }} – {{ site.title }}</title>
	{% endif %}

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/self_color.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/clearings.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/genericons.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highlight.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/social.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen/44.375.css" media="screen and (min-width: 44.375em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen/56.875.css" media="screen and (min-width: 56.875em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen/61.5625.css" media="screen and (min-width: 61.5625em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen/85.125.css" media="only screen and (min-width: 85.125em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/print.css" media="only print">
</head>

<body>
  <header>{% include header.html %}</header>
	<main>{{ content }}</main>
	<aside>{% include aside.html %}</aside>
	<footer>{% include footer.html %}</footer>
</body>
</html>
