<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	{% assign structure = page.url | split: "/" | shift %}

	{% if structure == empty %}
		<title>{{ site.title }} – {{ site.description | strip_html }}</title>
		<link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed.atom">
	{% elsif structure[0] == "page" %}
		<title>{{ site.title }} – 第 {{ structure[1] }} 页 – {{ site.description | strip_html }}</title>
	{% else %}
		<title>{{ page.title }} – {{ site.title }}</title>
	{% endif %}

{% comment %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:,i,b,bi,900,900i%7CMontserrat:,b%7CInconsolata:,b&amp;display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&amp;display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:,b,900&amp;display=fallback">
{% endcomment %}
	<link rel="stylesheet" href="{{ site.baseurl }}/style/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/clearings.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/genericons.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/highlight.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/social.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/44.375.css" media="screen and (min-width: 44.375em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/56.875.css" media="screen and (min-width: 56.875em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/61.5625.css" media="screen and (min-width: 61.5625em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/85.125.css" media="only screen and (min-width: 85.125em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/print.css" media="only print">
</head>

<body>
	{% if page.url contains "posts" %}
  <!-- 文章详情页面，右侧边栏只有文章目录索引卡片弹性置顶 -->
  {% assign aside_sticky = "" %}
  <!-- else -->
  {% else %}
  <!-- 非文章详情页面，右侧边栏所有卡片弹性置顶 -->
  {% assign aside_sticky = "aside-sticky" %}
  <!-- endif -->
  {% endif %}

  {% include header.html %}
	<main>{{ content }}</main>
	{% include aside.html %}
	{% include footer.html %}
</body>
</html>
