<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	{% assign structure = page.url | split: "/" | shift %}

	{% if structure == empty %}
		<title>{{ site.title }} – {{ site.description | strip_html }}</title>
		<link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/feed.atom">
	{% elsif structure[0] == "page" %}
		<title>{{ site.title }} – 第 {{ structure[1] }} 页 – {{ site.description | strip_html }}</title>
	{% else %}
		<title>{{ page.title }} – {{ site.title }}</title>
	{% endif %}

{% comment %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:,i,b,bi,900,900i%7CMontserrat:,b%7CInconsolata:,b&amp;display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&amp;display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:,b,900&amp;display=fallback">
{% endcomment %}
	<link rel="stylesheet" href="{{ site.baseurl }}/style/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/clearings.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/genericons.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/highlight.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/social.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/44.375.css" media="screen and (min-width: 44.375em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/56.875.css" media="screen and (min-width: 56.875em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/61.5625.css" media="screen and (min-width: 61.5625em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/85.125.css" media="only screen and (min-width: 85.125em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/print.css" media="only print">
</head>

<body>
	{% if page.url contains "posts" %}
  <!-- 文章详情页面，右侧边栏只有文章目录索引卡片弹性置顶 -->
  {% assign aside_sticky = "" %}
  <!-- else -->
  {% else %}
  <!-- 非文章详情页面，右侧边栏所有卡片弹性置顶 -->
  {% assign aside_sticky = "aside-sticky" %}
  <!-- endif -->
  {% endif %}

  <!-- 今天学习到这里20230525 -->

	<header>
		<div class="brand">
			<h1><a href="{{ site.baseurl }}/" rel="home">{{ site.title }}</a></h1>
			<p>{{ site.description }}</p>
		</div>
		<input hidden type="checkbox" id="ballot">
		<label class="toggle" for="ballot">菜单</label>
		{% include navigation.liquid %}
	</header>
	<main>
		<!-- 遍历分页后的文章 -->
		{% for post in paginator.posts %}
		<div class="post-item">
			<h1 class="m-t-0 m-b-8"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
			<div class="post-content">{{ post.content | strip_html | truncate: 200 }}</div>
			<div class="post-message text-tip p-t-16 p-b-0">
			</div>
		</div>
	</main>
	<aside>
		<section>
			<h2>分类</h2>
			<ul>
				{% assign categories = site.categories | sort %}
				{% for category in categories %}
					<li><a href="{{ site.baseurl }}/category/{{ category[0] | slugify | uri_escape }}">{{ category[0] }}</a></li>
				{% endfor %}
			</ul>
		</section>
		<section class="tagcloud">
			<h2>标签</h2>
			{% assign tags = site.tags | sort %}
			{% for tag in tags %}
				<a href="{{ site.baseurl }}/tag/{{ tag[0] | slugify | uri_escape }}">{{ tag[0] }}</a>
			{% endfor %}
		</section>
		<section>
			<h2>近期文章</h2>
			<ul>
				{% for post in site.posts limit: 5 %}
					<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</section>
	</aside>
	<footer>
		<!--添加访问统计-->
		<p  class="theme-by text-muted">
		<script src="{{ site.baseurl }}/js/busuanzi.pure.mini.js"></script>
		<span id="busuanzi_container_site_pv">
			本站访问量<span id="busuanzi_value_site_pv"></span>次。</span>
		</p>
		<p>本站使用 <a rel="publisher" lang="en" hreflang="en" href="https://github.com/jdh8/sweet-16/">Sweet 16</a> 主題。</p>
	</footer>
</body>
</html>
